<!DOCTYPE html>
<html lang="en" ng-app="CSHAssets">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://assets.csh.rit.edu/uploads/favicon.ico">

    <title>CSH Assets</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Material Bootstrap CSS -->
    <link href="resources/css/bootstrap-material-design.css" rel="stylesheet">  
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- CSH Flat Bootstrap CSS -->
    <link rel="stylesheet" href="https://assets.csh.rit.edu/uploads/members-flat.min.css" integrity="sha384-3TYQ9PYHcowP90vgZ3i3DFeLOJk+LtlFIi0zebRyhwVNEhJMJpR0H1er9ZphohJ7" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="resources/css/assets.css" rel="stylesheet">

  </head>

  <body >

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="resources/images/csh_logo_white.svg" class="logo">Assets</a>
            
        </div>
          <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" data-toggle="modal" data-target="#uploadModal" style="color:#FFF; outline:0;"><i class="fa fa-cloud-upload"></i> Upload</a></li>
          </ul>
        </div>
        
      </div>
    </nav>
      
    <div class="container">

<div style="padding-top:70px;"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="text" ng-model="search" class="search-field" placeholder="Search Assets...">
                    </div>
                </div>
            
            </div>
        </div>
        <div ng-controller="assetController" userAgent>
            
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-2 col-md-8 asset-container" ng-repeat="asset in data | filter:search">
            
                
                <!-- ng-repeat the following -->
                
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-3 col-md-2">
                        
                            <img ng-src="{{setSrc(asset.name)}}" class="img-responsive asset-image">
                            
                        
                             <div class="hr desktop-hide" style="height:0px;"></div>
                            </div>
                        
                        
                       
                        
                        <div class="col-xs-12 col-sm-9 col-md-10">
                        
                        <div class="asset-name">
                            {{asset.common_name}}
                            
                        </div>    
                        <div class="asset-author-date">
                            {{asset.author}} - {{asset.uploaded}}
                        </div>
                        <p class="asset-description">
                           {{asset.description}}
                        
                        </p>
                            <div style="margin-top:-5px; margin-bottom:5px;">
                            <button type="button" data-toggle="collapse" data-target="#{{$index}}collapse" aria-expanded="false" aria-controls="{{$index}}collapse" style="color:#666; text-decoration:none; border:none; background:transparent; outline:none; padding:0px;">
  SHA-384 Hash <span class="caret"></span>
</button>
                            </div>
<div class="collapse" id="{{$index}}collapse">

    <div class="input-group">
                    <textarea type="text" placeholder="Asset SHA-384" style="width:100%;border-radius:2px; border-color:#EEE; resize: none" ng-model="asset.asset_hash"></textarea>
      <span class="input-group-btn" style="padding-right:0px; padding-left:12px">
        <button class="btn btn-default btn-copy" type="button" style="border-radius:100%; padding-top:9px; padding-bottom:9px" id="successSHAClipboard" data-clipboard-text="{{asset.asset_hash}}" data-toggle="tooltip" ng-click="copyAsset()" data-placement="top" title="Copy to Clipboard" ng-hide="userAgent()" tooltip><i class="fa fa-clipboard"></i></button>
      </span>
                    
    </div><!-- /input-group -->
    
    
    
    
    
    
    
    
  </div>
                            <hr style="margin-bottom:10px;">
                        <div class="input-group">
      <input type="text" class="form-control" placeholder="Asset URL" value="https://assets.csh.rit.edu/uploads/{{asset.name}}" id="url" style="text-overflow: ellipsis;">
      <span class="input-group-btn" style="padding-right:0px; padding-left:12px">
        <button class="btn btn-default btn-copy" type="button" style="border-radius:100%; padding-top:9px; padding-bottom:9px" data-clipboard-text="https://assets.csh.rit.edu/uploads/{{asset.name}}" data-toggle="tooltip" ng-click="copyAsset()" data-placement="top" title="Copy to Clipboard" ng-hide="userAgent()" tooltip><i class="fa fa-clipboard"></i></button>
      </span>
                    
    </div><!-- /input-group -->
                        </div>
                        
                        
                        </div>
            
                    </div>
                    
                
                </div>
            </div>
                
                
                
            
       
        
        
        

    </div><!-- /.container -->

      
    <!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Asset</h4>
      </div>
        <form name="uploadForm" id="uploadForm" method="post" action="/upload" enctype="multipart/form-data">
      <div class="modal-body">
          <div id="errorUploadContainer" class="success-upload-container" style="display:none;">
               
            </div>
          
            <div id="successUploadContainer" class="success-upload-container" style="display:none;">
                <img class="img-responsive success-image" src="" id="successImage">
                <hr>
                <p style="color:#999">URL</p>
                <div class="input-group" style="margin-top:-10px;">
      <input type="text" class="form-control" placeholder="Asset URL" id="successURL" style="text-overflow: ellipsis;">
      <span class="input-group-btn" style="padding-right:0px; padding-left:12px">
        <button class="btn btn-default btn-copy" type="button" style="border-radius:100%; padding-top:9px; padding-bottom:9px" id="successURLClipboard" data-clipboard-text="" data-toggle="tooltip" ng-click="copyAsset()" data-placement="top" title="Copy to Clipboard" ng-hide="userAgent()" tooltip><i class="fa fa-clipboard"></i></button>
      </span>
                    
    </div><!-- /input-group -->
                <p style="color:#999">SHA-384 HASH</p>
                
                <div class="input-group" style="margin-top:-10px;">
                    <textarea type="text" class="form-control" placeholder="Asset SHA-384" id="successSHA" style="text-overflow: ellipsis; resize:none"></textarea>
      <span class="input-group-btn" style="padding-right:0px; padding-left:12px">
          <!-- FIX THIS
        <button class="btn btn-default btn-copy" type="button" style="border-radius:100%; padding-top:9px; padding-bottom:9px" id="successSHAClipboard" data-clipboard-text="" data-toggle="tooltip" ng-click="copyAsset()" data-placement="top" title="Copy to Clipboard" ng-hide="userAgent()" tooltip><i class="fa fa-clipboard"></i></button> -->
      </span>
                    
    </div><!-- /input-group -->
            </div>
          
          
          
        
            <div id="uploadContainer">
            <div class="form-group label-floating is-empty upload-form-group">
                
                <input class="form-control" id="common_name" name="common_name" type="text" placeholder="Asset Name">
                <span class="material-input"></span>
            </div>
            <div class="form-group label-floating upload-form-group is-empty">
        
                <textarea class="form-control" rows="3" id="description" name="description" placeholder="Description" type="text"></textarea>
            
                
                
                
                
                
                
              <span class="material-input"></span>
            </div>
            <input type="file" id="file" name="file">
            
            </div>
          
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" id="uploadSubmit" class="btn btn-danger" ><i class="fa fa-upload"></i> Upload</button>
      </div>
          </form>
    </div>
  </div>
</div>  
      
      
      

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://assets.csh.rit.edu/uploads/material.min.js" integrity="sha384-7j8Ht/bJHcmqRl2Me9JKxwcSWnNYyltqrAbsIrqTLGgBTQKuti3CDd47M08Mv2bM" crossorigin="anonymous"></script>
    <script src="https://assets.csh.rit.edu/uploads/clipboard.min.js" integrity="sha384-6IvGwMLZzeEDqfqkglJOV5PIsjfAnO7VLUOZKdFasr8OfwhrG5BU1xnrmfYhIJbA" crossorigin="anonymous"></script>
    <script src="resources/js/app.js"></script>
    <script src="resources/js/assets.js"></script>
    
  </body>
</html>
